@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.copy-api-key {
  background-color: #272727;
  color: #fff;
  padding: 10px;
  margin: 10px 0 0 10px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}

.copy-api-key-content {
  display: flex;
  align-items: center;
}

.copy-api-key-text {
  margin-right: 10px;
}

.copy-api-key-icon {
  cursor: pointer;
}

.copy-api-key-icon svg {
  width: 16px;
  height: 16px;
  color: #fff;
}

.copy-api-key.copied {
  background-color: #008000;
}